<div id="tutorial_promote">
    <h5>Le tutoriel du mois :</h5>
    <hr />
    {% if entity.image is not null %}
        <img src="{{ entity.image.webPath|apply_filter('thumb_promote') }}" class="img-responsive">
    {% else %} 
        <img src="{{ entity.category.image.webPath }}" class="img-responsive">
    {% endif %}
    <ul class="fa-ul">
        <li>
            <i class="fa-li fa fa-university"></i>
            <strong>
                <a  href="{{ path('site_front_tutorial_show', { 'slug': entity.slug }) }}">
                    {{ entity.title }}
                </a>
            </strong>
        </li>
        <hr />
        <li>
            <i class="fa-li fa fa-list-alt"></i>
            <p>
                <strong>Description :</strong>
                {{ entity.description |capitalize }}
            </p>
        </li>
        <li>
            <i class="fa-li fa fa-user"></i>
            <p>
                <strong>Auteur : </strong>
                crée par {{ entity.user.author.name }}, 
                le {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y') }}{% endif %}.

            </p> 
        </li>
        <li>
            <i class="fa-li fa fa-thumb-tack"></i>
            <p>
                <strong>Catégorie :</strong>
                {{ entity.category.name }}
            </p>
        </li>
    </ul>
</div>